import React from 'react';

type {{pascalCase name}}Props = {
  // TODO: Add props
};

export function {{pascalCase name}}({}: {{pascalCase name}}Props) {
  return (
    <div>
      <h2>{{sentenceCase name}}</h2>
    </div>
  );
}
