/**
 * {{pascalCase name}} Page
 *
 * Route-level page component that composes views and containers.
 */

export default function {{pascalCase name}}Page() {
  return (
    <main>
      <h1>{{sentenceCase name}}</h1>
      {/* TODO: Compose views and containers here */}
    </main>
  );
}
